@use '../../assets/styles/@utilities/mixins' as *;
@use '../../assets/styles/@tokens/typography' as *;

.heading {
  font-size: $font-size-3xl;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-tight;
  margin-bottom: 48px;

  @include md {
    font-size: $font-size-4xl;
  }
}

.timeline {
  max-width: 640px;
}
