@charset "UTF-8";

@import "import/lib-fonts";
@import "base";
@import "import/reset-css";
@import "import/typography";

:root {
	--bg-color: #fff;
	--primary-color: green;
	--font-color: #222;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #222;
		--primary-color: purple;
		--font-color: #fff;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		// color-scheme: dark;
	}
}

/* clearfix */
.clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: "";
		display: block;
	}
	&:after {
		clear: both;
	}
}

/* hidden */
.blind {
	position: absolute;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden;
	border: 0;
	padding: 0 !important;
	white-space: nowrap;
}

/* loading */

/* skip navigation */
#skipNavi {
	position: relative;
	z-index: 3000;
	> a,
	> button {
		position: absolute;
		top: -30px;
		left: 0;
		width: 150px;
		height: 30px;
		line-height: 28px;
		border: 1px solid #4ec53d;
		background: #333;
		text-align: center;
		> span {
			display: inline-block;
			font-size: 13px;
			color: #fff;
			letter-spacing: -1px;
			white-space: nowrap;
		}
		&:active,
		&:focus {
			top: 0;
			text-decoration: none;
			z-index: 1000;
		}
	}
}

// html.is-locked,
html {
	&.is-locked {
		body {
			height: calc(var(--window-inner-height) - 1px);
			overflow: hidden;
			box-sizing: border-box;
		}
		#wrap {
			position: fixed;
		}
	}
	@media (prefers-reduced-motion: no-preference) {
		// scroll-behavior: smooth;
	}
}

/* button */
a,
button {
	@include inline-block-box;
	&:active {
		opacity: 0.8;
	}
	&:disabled {
		opacity: 0.3;
		cursor: default;
		pointer-events: none;
	}
	&.basic-link {
		background-color: var(--primary-color);
		color: white;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-size: 16px;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: #005bb5;
		}

		&:active {
			background-color: #003f7f;
		}
	}
}

/* form */

/* table */

/* tab */

/* popup */

/* accordion */

/* pagination */

/* common */
.p-only {
	display: block;
}
.m-only {
	display: none;
}

#wrap {
	position: relative;
	width: 100%;
	min-height: var(--window-inner-height);
	display: flex;
	flex-direction: column;
}
.inner {
	width: 100%;
	max-width: 1280px;
	padding: 0 40px;
	margin: 0 auto;
}

@import "common-media";
@import "common-hover";
